<div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-push-1 col-md-pull-1">
  <%= form_for(@wiki) do |f| %>
    <% if wicked_user? %>
      <% f.hidden_field :ip, value: request.remote_ip %>
    <% else %>
      <% f.hidden_field :user, value: current_user %>
    <% end %>

    <div class="form-group">   
      <%= error_messages(@wiki) %>
	  <h1 class="blog-title"><%= @wiki.title %></h1>
    </div>

    <div class="form-group">
      <%= f.text_area  :content, cols: 80, rows: 30, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit "Done Editing", class: "btn btn-primary btn-lg"%>
    </div>
  <% end %>
</div>